<?php

$services=$conn->getAll(" SELECT service_list.*
						FROM service_list 
						WHERE service_list.contractor_ID = '$CID' AND service_list.state = 'pending' ");
						
?>
<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="../Contractors/Home.php" class="site_title"><i class="fa fa-group"></i> <span>QService</span></a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile clearfix">
            <div class="profile_pic">
                <img src="../../resource/images/user.png" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
                <span>Welcome,</span>
                <h2><?php echo$_SESSION['fname']; echo(' '); echo$_SESSION['lname'];?></h2>
            </div>
        </div>
        <!-- /menu profile quick info -->

        <br />

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                    <li>
                        <a href="../Contractors/Home.php"><i class="fa fa-home"></i> Home </a>
                    </li>
                    <li>
					<?php
					if(strcmp($_SESSION['conState'], "verified") == 0 ) {
					?>
                        <a><i class="fa fa-clone"></i>Services <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
							<li><a href="../Contractors/RecordAvailability.php">Record Availability</a></li>
                            <li><a href="../Contractors/cancelReservation.php">Cancel Reservation</a></li>
							<li><a href="../Contractors/reviewHistory.php">Review History</a></li>
                        </ul>
                    </li>
					<?php
					}
					?>
					<li>
                        <a><i class="fa fa-user"></i>Settings <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
							<li><a href="../Contractors/contractorProfile.php">Profile</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
			<?php
				if(strcmp($_SESSION['conState'], "verified") == 0 ) {
			?>
            <div class="menu_section">
                <h3>Live On</h3>
                <ul class="nav side-menu">
                    <li>
                        <a><i class="fa fa-laptop"></i> Live Services <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="../Contractors/liveService.php">View Live Services</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
			<?php
				}
			?>
        </div>
        <!-- /sidebar menu -->

    </div>
</div>

<!-- top navigation -->
<div class="top_nav">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <img src="../../resource/images/user.png" alt=""><?php echo$_SESSION['fname'];?>
                        <span class=" fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                        <li><a href="../Contractors/contractorProfile.php"> Profile</a></li>
                        <li><a href="../../src/store/Logout.php"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                    </ul>
                </li>
                <li role="presentation" class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-calendar"></i>
                        <span class="badge bg-green"><?=count($services)?></span>
                    </a>
                    <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">

                        <?php
                           foreach ($services as $service){
                        ?>
                        <li>
                            <a>
                                <span class="image"><img src="../../resource/images/loading.gif" alt="Profile Image" /></span>
                                <span>
                                  <span><?=$service['location']?></span>
								  <span class="time"><?=$service['Date']?></span>
                                  
                                </span>
                                <span class="message">
								<?=$service['state']?>
								<span class="time"><?=$service['Time']?></span>
                               </span>
                            </a>
                        </li>
                        <?php
                           }
                        ?>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- /top navigation -->
